@using YaoSun.ApplicationCore.Models.Response;

@model dynamic
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<p><b>User List</b></p>

<div style="height: 600px;overflow: scroll;">
    <table class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th class="th-sm">Id</th>
                <th class="th-sm">Email</th>
                <th class="th-sm">Password</th>
                <th class="th-sm">FullName</th>
                <th class="th-sm">Mobileno</th>
            </tr>
        </thead>
        @foreach (UserCardResponseModel user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.Fullname</td>
                <td>@user.Mobileno</td>
            </tr>

        }
    </table>
</div>

<p><b>Tasks List</b></p>
<div style="height: 600px;overflow: scroll;">

    <table class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th class="th-sm">Id</th>
                <th class="th-sm">UserId</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">DueDate</th>
                <th class="th-sm">Priority</th>
                <th class="th-sm">Remarks</th>
            </tr>
        </thead>
        @foreach (TaskCardResponseModel task in Model.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.userid</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.DueDate</td>
                <td>@task.Priority</td>
                <td>@task.Remarks</td>    
            </tr>

        }
    </table>
</div>

<p><b>Tasks History List</b></p>
<div style="height: 600px;overflow: scroll;">
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">TaskId</th>
                <th class="th-sm">UserId</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">DueDate</th>
                <th class="th-sm">Completed</th>
                <th class="th-sm">Remarks</th>
            </tr>
        </thead>
        @foreach (TasksHistoryCardResponseModel taskHistory in Model.TasksHistory)
        {
            <tr>
                <td>@taskHistory.TaskId</td>
                <td>@taskHistory.UserId</td>
                <td>@taskHistory.Title</td>
                <td>@taskHistory.Description</td>
                <td>@taskHistory.DueDate</td>
                <td>@taskHistory.Completed</td>
                <td>@taskHistory.Remarks</td>
            </tr>
        }
    </table>
</div>